.about{
    display: flex;
    width: 100%;
    height:100vh;
    margin-top:100px;
}
.about-container{
    display: flex;
    width: 100%;
}
.profile-container{
    display: flex column;
    flex:1;
    align-items: center;
    justify-content: center;

}
.profile-heading-container{display: flex;
justify-content: center;
align-items: center;
flex:1;
}
.profile-container h1{
    text-align: center;
    padding: 1rem;
    color: var(--peach);    
    font-size:60px;
}
.profile-container h2{
    font-size:30px;
    text-align: center;
    padding: 1rem;
    color: var(--peach);
}
.profile-picture{
    display: flex;
    width: 100%;
    align-items: center;
justify-content: center;
}
.profile-picture-container{
    width: 500px;
    height: 500px;
    border-radius: 50%;
background: white;
margin: 3rem 0rem;
background-image: url('../../assets/images/13700091_10153506441802132_1769803296221583818_n.png');
background-size:contain;
}
.profile-description{
    display: flex column;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 40px;
    color: var(--peach);
    font-weight: 400;
    margin: 1rem;
}
@media screen and (max-width: 1054px) {
    .profile-picture-container{
        width: 300px;
        height: 300px;
    }
    .profile-description{
        font-size:20px;
    }
    .profile-container h1{
        font-size: 20px;
    }
    .profile-container h2{
        font-size:14px;
    }
}

@media screen and (max-width: 768px) {
    .about-container{
        flex-direction: column;
    }
    .about{
        margin:0;
    }
    .profile-description{
        font-size: 14px;
        text-align: center;
    }
    

}
@media screen and (max-width: 454px) {
    .profile-picture-container{
        width: 300px;
        height: 300px;
    }
    .profile-container h1{
        font-size: 40px;
    }
}